* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;

  background-color: #282d35;
}

/* navbar */
nav {
  display: flex;
  align-items: center;
  background-color: #21222a;
  height: 90px;
  padding: 30px 25px;
}

.nav--logo_text {
  margin-right: auto;
  color: #61dafb;
  font-weight: 700;
  font-size: 22px;
}

.nav--title {
  color: #deebf8;
  font-weight: 600;
}

.nav--icon {
  width: 50px;
  margin-right: 7px;
}

/* main */
main {
  padding: 57px 27px;
  color: #fff;
  background-image: url("./img/logo192.png");
  background-repeat: no-repeat;
  background-position: 115% 50%;
  background-size: 25%;
}

.main--title {
  font-size: 39px;
  letter-spacing: -0.05em;
  font-weight: 700;
}

ul {
  margin-top: 20px;
}

.main--list > li {
  line-height: 19px;
  padding-block: 10px;
  max-width: 400px;
  margin-left: 26px;
}

.main--list > li::marker {
  color: #61dafb;
}
